body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: lightgray;
}

nav li{
    display: inline;
    margin: 20px;
}

nav ul{
    background-color: black;
    margin: 0;
    list-style-type: none;
    width: 37.9%;
    padding: 20px;
    z-index: 12;
    position: fixed;
    bottom: 0;
    

}

nav{
    display: block;
    color: white;
}

nav a{
    color: #555555;
    text-decoration: none;
}

nav a:hover{
    color: white;
}


.hero-text{
    color: white;
    position: fixed;
    top: 10%;
    right: 73%;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
}

#main{
    width: 75%;
    position: relative;
    float: left;
    text-align: right;
    padding-left: 20px;
    padding-top: 20px;
}

#side{
    width: 20%;
    float: right;
    height: 100%;
    padding: 20px;
}

#profile-image{
    width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
}

#profile{
    text-align: center;
}

.side-articles ul{
    list-style: none;
    padding-left: 0px;
}

#profile h2{
    display: inline;
}

#profile-details{

    text-align: center;
}

.side-articles, .main-articles{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.side-articles{
    background-color: darkgray;
    text-align: center;
}

.main-articles{
    background-color: lightgray;
    right: 0;
    top: 50%;
}

form{
    margin-top: 20px;
}

textarea, input{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.side-articles h1{
    margin-bottom: 20px;
}

footer{
    width: 100%;
    background-color: black;
    height: 6.2vh;
    margin-top: 0px;
}
footer div{
    text-align: center;
    color: white;
}

main{
    overflow: auto;
}

footer hr{
    margin-top: 0px;
    height: 12px;
    border: 0px;
}

#profile-img{
    width: 20%;
}