.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10%;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsla(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsla(0, 0%, 30%);
}

.color-display{
  border: 2px solid;
  width: 200px;
  height: 200px;
  border-radius: 5px;

}


body {
  background-color: hsl(0, 0%, 80%);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./assets/background.jpg');
  background-size: cover;       /* Cover the entire screen */
  background-position: center;  /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fix background to the viewport */
  min-height: 100%;             /* Ensures the body takes at least the full height of the viewport */
  margin: 0;                    /* Remove default margin */
}


/* CSS For Navbar */

#custom-nav-title{
  font-size: 1.7rem;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  padding: 10px;
  font-weight: 510;
}

#custom-nav-title:hover{
  text-decoration: underline;
  transition: background-color 0.5s, color 0.3s;
}


#custom-nav-link {
  display: inline-block; /* Allows padding to affect the shape */
  padding: 10px; /* Adjust padding to change the circle size */
  border-radius: 10px; /* Makes the background or border circular */
  text-decoration: none; /* Ensures no underline by default */
  transition: background-color 0.5s, color 0.3s; /*Smooth transition for hover effects */
  font-size: 1.2rem;
  color: black;
}

#custom-nav-link:hover {
  background-color: #30baa3;
  color: #fff;
  text-decoration: underline;
}

.bg-body-tertiary {
  position: relative; /* Ensures that the pseudo-element is positioned relative to the navbar */
  overflow: hidden; /* Important if the blur effect or other styles bleed outside the navbar */
}

.navbar-scrolled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 80%); /* Use rgba for transparent background blur */
  filter: blur(0px); /* Adjust blur intensity here */
  z-index: -1; /* Places the blur behind the navbar content */
}

/* Ensure other navbar elements have a higher z-index if necessary */
.navbar, .navbar * {
  z-index: 10; /* Higher than -1 to be above the blurred background */
}
