/* .card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10%;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
} */
@media (max-width: 576px) {
  #project-card {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
  .form-btn{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .form-btn button{
    width: 100%;
  }
  #homepage-intro-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.card-icons{
  font-size: 4.5em;
  margin: 15px;
  padding: 10px;
  opacity: 0.93;
  border: 2.2px solid #30baa3a2;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px #075c4223;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.card-icons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid #30baa3;
}

.color-display{
  border: 2px solid;
  width: 200px;
  height: 200px;
  border-radius: 5px;

}

body {
  background-color: hsl(0, 0%, 80%);
  font-family: "Roboto", sans-serif;
  background-image: url('./assets/background.jpg');
  background-size: cover;       /* Cover the entire screen */
  background-position: center;  /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fix background to the viewport */
  min-height: 100%;             /* Ensures the body takes at least the full height of the viewport */
  margin: 0;                    /* Remove default margin */
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#heading-swe{
  text-decoration: underline;
}
/* CSS For Navbar */

#custom-nav-title{
  font-size: 1.7rem;
  color: black;
  font-family: 'Montserrat';
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  font-weight: 510;
}

#custom-nav-title:hover{
  text-decoration: underline;
}


#custom-nav-link {
  display: inline-block; /* Allows padding to affect the shape */
  padding: 10px; /* Adjust padding to change the circle size */
  border-radius: 8px;
  transition: background-color 0.5s, color 0.3s;
  font-size: 1.2rem;
  color: black;
}

#custom-nav-link:hover {
  background-color: #30baa3;
  color: #fff;
  text-decoration: underline;
}

.bg-body-tertiary {
  position: relative; /* Ensures that the pseudo-element is positioned relative to the navbar */
  overflow: hidden; /* Important if the blur effect or other styles bleed outside the navbar */
}

.navbar-scrolled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 80%);
  opacity: 98%;
  z-index: -1;
}
/* Home */

#lottie{
  height: auto;
  max-width: 80%;
}

/* Project */
#project-title{
  font-weight: bold;
  text-decoration:underline #30baa3;
}

#project-img{
  max-width: 80%;
  height: auto;
}

#project-card{
  display: block;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  padding: 2rem;
}

.project-icon{
  font-size: 2.5em;
  
}

/* Contact */
#contact-title{
  font-weight: bold;
  text-decoration:underline #30baa3;
}

.form-group {
  display: flex;
  justify-content: center;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  background: white;
  border-radius: 5px;
  padding: 2rem;
  max-width: 50rem;
  margin-top: 1rem;
  width: 95%;
  margin: 2rem auto 0 auto
}

.contact-icon {
  display: inline-flex;
  font-size: 4.5rem;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.5s, color 0.3s;
  background-color: white;
  margin: 8px;
  border: 2.2px solid #30baa3a2;
  box-shadow: 4px 5px 4px 3px #075c4223;
  color: rgb(26, 25, 25);
}

.contact-icon:hover {
  overflow: hidden;
  border: 2.2px solid #30baa3cc;
  cursor: pointer;
  color: rgba(26, 25, 25, 0.767);
}
